################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Попытка3/Попытка3.VC.VC.opendb
*.opendb
*.db
*.vcxproj
*.filters
*.sln
*.tlog
/Задача2/Debug/Задача2.ilk
/Задача2/Debug/Задача2.pdb
*.exe
*.log
*.pdb
*.idb
*.enc
*.obj
