################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Попытка3/Попытка3.VC.VC.opendb
*.opendb
*.db
*.vcxproj
*.filters
*.sln
